body {
  background-color: #f56b2a;
}
.container {
  width: 1440px;
  margin: 0 auto;
}
header {
  height: 60px;
  background-color: #f56b2a;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 60px;
  padding: 0 20px;
  box-sizing: border-box;
}

main {
  margin-top: 20px;
  background-color: turquoise;
  width: 1000px;
  margin: 0 auto;
}

/* nav {
  margin-top: 50px;
  margin: 0 auto;
} */
.navi {
  margin-top: 30px;
}

.navi input {
  width: 700px;
}

.searchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 100px;
  background-color: violet;
}

nav.Login {
  width: 715px;
  height: 504px;
}
input {
  height: 40px;
  width: 400px;
  background-color: "beige";
  margin-bottom: 5p;
}

nav Link {
  font-size: 40px;
}

.Link {
  font-size: 20px;
  color: black;
}

.Linkdiv {
  display: flex;
  align-items: center;
  font-size: 25px;
  border: solid 1px;
  color: black;
  height: 30px;
  padding: 10px;
  box-sizing: border-box;
}
